.bg-1 {
    background-color: #D9B68B
}
.bg-2 {
    background-color: #8C582A
}
.bg-3 {
    background-color: #A68F7B
}
.bg-4 {
    background-color: #D9C7B8
}
.bg-5 {
    background-color: #59280B
}